@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    background-image: linear-gradient(
        to right,
        #a9ba9d,
        whitesmoke
    );
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    font-weight: 800;
    margin:0
    

}

/* --- NAVIGATION --- */


@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

header {
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-inline-start: 70px;
  margin-inline-end: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/*---button ---*/

.diceButton {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.diceButton:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .diceButton {
    padding: 0.25em 0.75em;
  }
}
